{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ drivers.name }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static drivers.image %}" alt="" width="100%">
        <p>Contact: {{ drivers.phone_number }}</p>
        <p>Availability: {{ drivers.availability }}</p>
        <p>Current Location: {{ drivers.location }}</p>
    </div>
    <div class="col-md-4">
        <h5>Current Order:</h5>
        <p>{{ drivers.order }}</p>
        
    </div>
</div>
{% endblock %}