{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ product.product_name }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{product.product_imageUrl}}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the product:</h5>
        <p>{{ product.product_description }}</p>
        <br>
        <h5>Price</h5>
        <p>{{ product.product_price }}</p>
    </div>

    <a href="{% url 'cart' product.pk %}"
        class="btn btn-secondary">
        Purchase
    </a>

</div>
{% endblock %}